<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//front/site.css">
    <title>Página Inicial</title>
</head>

<body> 
    <header>
        <section>
            <nav aria-labelledby="primary-navigation">
                <h1><strong>Luis Felipe Macedo Silva</strong></h1></br>
                <h5>18 anos</h5>
                <p>Meu nome é Luis, sou desenvolvedor Back-End trilhando para ser desenvolvedor Full-Stack. Atualmente cursando</p>
                <p>técnico em informática para área de reparo e manutenção.</p>
            </nav>
        </section>
        <section>
            <nav aria-labelledby="right-primary-navigation">
                <p>Armando Tucci, 1134</p>
                <p>Uberlândia, Minas Gerais, Brasil</p>
                <p>38408-256</p>
                <a href="https://wa.me/+5534992609193" alt="Contato"><p>(34) 9.9260-9193</p></a>
                <p>luisfelipemacedo23@gmail.com</p>
                <a href="https://github.com/LF-Macedo" alt="Link github"><strong>https://github.com/LF-Macedo</strong></a>
            </nav>
        </section>
    </header>
    
    <main>
        <section>
            <nav aria-labelledby="first-main-navigation">
                <h4>EXPERIÊNCIA PROFISSIONAL</h4>
                <p><strong>Desenvolvedor de Jogo,</strong> Grupo FRP — <em>Ituiutaba, Brasil</em></p>
                <p>OUTUBRRO DE 2019 - JULHO DE 2021</p>
                <p>Desenvolvimento de plataforma multijogador simultânea utilizando ferramentas de programação (C#) para maior</p>
                <p>integração do jogador ao servidor, desenvolvendo funções, sistemas e mapeamentos.
                </p>
            </nav>
        </section>

        <section>
            <nav aria-labelledby="top-main-navegation">
                <h4><strong>PRÊMIOS</strong></h4>
                <p>Curso de Direito no Ensino Médio</p>
                <p>Ganhador do JEESP na modalidade</p>
                <p>Xadrez</p>
            </nav>

            <nav aria-labelledby="center-main-navegation">
                <h4><strong>IDIOMAS</strong></h4>
                <p>Português - Nativo</p>
                <p>Inglês - Nível A2 TOEIC</p>
            </nav>

            <nav aria-labelledby="footer-main-navegation">
                <h4>HOBBIES</h4>
                <p>Desenvolver servidores</p>
                <p>Manutenção de Computadores</p>
                <p>Jogos online e E-Sports</p>
            </nav>
        </section>

        <section>
            <nav aria-labelledby="second-main-navegation">
                <h4>FORMAÇÃO</h4>
                <p><strong>Técnico em Informática</strong>, Bit Company — <em>Araxá, Brasil</em></p>
                <p>JULHO DE 2021 - ATUAL</p><br>
                <p><strong>Desenvolvedor Back-End</strong>, HashTag Programações — <em>Uberlândia, Brasil</em></p>
                <p>FEVEREIRO DE 2022 - ATUAL</p><br>
                <p><strong>Trilha de Graduação para desenvolvedor Full Stack</strong>, ProgramadorBR —</p>
                <p><em>Uberlândia, Brasil</em></p>
            </nav>
        </section>

        <section>
            <nav aria-labelledby="right-second-main-navegation">
                <a href="https://github.com/LF-Macedo" alt="Git"><p>/LF-Macedo</p></a>
                <a href="https://www.linkedin.com/in/luis-felipe-macedo-982872238" alt="Git"><p>/luisfelipemacedo</p></a>
                <img scr="//assents/github-logo.png" alt="Logo Github" />
                <img scr="//assents/li-logo.png" alt="Logo LinkedIn" />
            </nav>
        </section>
    </main>
    
    <footer>
        <section>
            <nav aria-labelledby="footer-navegation">
                <h4><strong>PROJETOS</strong></h4>
                <p><strong>Desenvolvimento “Future Role Play”, servidor de ‘Grand Theft Auto’ Online</strong> — <em>Grupo FRP</em> -</p>
                <p>Ituiutaba, Brasil - 2020</p><br>
                <p><strong> “Sollua”, projeto de e-commerce</strong> — <em>Seamark</em> -</p>
                <p>Uberlândia, Brasil - 2022</p>
            </nav>
        </section>
    </footer>
</body>

</html>